@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    /* Un fondo global ligeramente gris */
}
.error-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 120px 20px 40px;
            min-height: calc(100vh - 180px);
            /* Ajustar altura para dejar espacio a navbar y footer */
        }

        .error-icon {
            font-size: 6rem;
            color: #dc3545;
            /* Rojo de peligro */
            margin-bottom: 20px;
        }

        .error-container h1 {
            font-size: 2.5rem;
            margin-bottom: 10px;
        }

        .error-container p {
            font-size: 1.2rem;
            color: #555;
            margin-bottom: 30px;
            max-width: 600px;
        }

        .btn-home {
            display: inline-block;
            padding: 12px 30px;
            background-color: #e27107;
            color: white;
            text-decoration: none;
            border-radius: 8px;
            font-weight: bold;
            transition: background-color 0.3s;
        }

        .btn-home:hover {
            background-color: #c05d05;
        }