<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nosotros</title>
    <script src="https://kit.fontawesome.com/eb344c5846.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../Vista/Estilos/EstiloNosotros.css" />
    <link rel="stylesheet" href="../../Vista/Estilos/EstiloNavbar.css" />
    

</head>

<body>
    <nav>
        
        <input type="checkbox" id="check">
        
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        
        <a href="../inicio.html" class="enlace">
            <img src="../../Vista/Imagenes/img-inicio/LOGO.jpeg" alt="" class="logo">
        </a>
        
        
        <ul>
            <li><a href="../inicio.html">Inicio</a></li>
            <li><a href="sobrenosotros.html">Sobre Nosotros</a></li>
            <li><a href="carta.html">Carta</a></li>
            <li><a href="login.html">Iniciar Sesión</a></li>
            <li><a href="carrito.html" id="cart"><img src="../../Vista/Imagenes/img-carta/shopping-cart.png" alt=""><span id="cuenta-carrito">0</span></a></li>
        </ul>
      </nav>


      <div class="heading">
        
        <h1>Sobre Nosotros</h1>
        
    </div>
    <div class="container">
        <section class="about">
            <div class="about-image animate-left">
                <img src="../../Vista/Imagenes/img-nosotros/fondocafe5.jpg" alt="Imagen Lora Café" />
            </div>
            <div class="about-content animate-right">
                
                <h2>¿Quiénes Somos?</h2>
                <p>
                    Somos Lora Café nos dedicamos a ofrecer una experiencia única para los amantes del café.
                    Desde nuestros inicios, nos hemos comprometido a seleccionar los mejores
                    granos de las regiones cafetaleras más reconocidas del país, garantizando
                    calidad y sabor en cada taza. Nuestro ambiente acogedor y moderno es el lugar
                    ideal para relajarse, trabajar o compartir un momento especial.
                    <span id="extraContent">
                        Además de una amplia variedad de cafés, ofrecemos deliciosas opciones de pastelería
                        artesanal y platos ligeros preparados con ingredientes frescos y locales.
                        En Lora Café, creemos en la importancia de la sostenibilidad, por lo que
                        trabajamos con proveedores responsables y mantenemos prácticas amigables
                        con el medio ambiente. ¡Ven a disfrutar del auténtico sabor del café en Lora Café! </span>
                
                </p>
            
                <button id="toggleButton" class="toggle-button">Leer más</button>
            </div>

            
        </section>

        
        <div class="mision-vision-container">
            <div class="mision">
                <h3>Misión</h3>
                <p>
                    Ofrecer una experiencia única en cada visita, combinando el mejor café peruano 
                    con un servicio amigable y responsable, en un ambiente acogedor.
                </p>
                <img src="../../Vista/Imagenes/img-nosotros/mision.png" alt="Imagen Misión" />
            </div>
            <div class="vision">
                <h3>Visión</h3>
                <p>
                    Ser la cafetería preferida en la región, destacando por la calidad de nuestros productos 
                    y el compromiso con la sostenibilidad y la comunidad.
                </p>
                <img src="../../Vista/Imagenes/img-nosotros/vision.jpg" alt="Imagen Visión" />
            </div>
        </div>
        <br>
        <br>

        <section class="about">
            <div class="about-image animate-left">
                <img src="../../Vista/Imagenes/img-nosotros/repartir.jpg" alt="Imagen Lora Café" />
            </div>
            <div class="about-content animate-right">
                <h2>Nuestras actividades</h2>
                <p>
                    En Lora Café, la Navidad es una época para compartir, brindar momentos especiales y llenar de calidez a nuestra comunidad. Este año, nos hemos propuesto llevar un poco de alegría a las calles, y qué mejor manera de hacerlo que con lo que mejor sabemos hacer: un buen café y un delicioso chocolate caliente. </p>

                    <p><br>El espíritu navideño nos inspira a ser parte activa de nuestro entorno, por eso, nos hemos aventurado a salir de las puertas de nuestra cafetería para ofrecer gratuitamente a todos los transeúntes una taza de café peruano recién preparado y un reconfortante chocolate caliente. Nuestro equipo de Lora Café recorrerá las principales avenidas de la ciudad, llevando sonrisas y el sabor único de nuestras bebidas a aquellos que más lo necesitan en esta temporada. </p>

                   <br> Estas actividades se realizan con éxito gracias a nuestro GRAN EQUIPO LORA CAFÉ
                   <br>
                   <a href="#promos-section" class="toggle-button">Ver Equipo</a>

            
            </div>

        </section>

        <section class="promociones" id="promos-section">
            <h2>Nuestro Equipo 💪🏻</h2>
            <div class="promociones-grid">
              <div class="promocion">
                <img src="../../Vista/Imagenes/img-nosotros/equi16.jpg" alt="Promoción 1">
                
            
                
              </div>
              <div class="promocion">
                <img src="../../Vista/Imagenes/img-nosotros/equi2.jpg" alt="Promoción 2">
                
              </div>
              <div class="promocion">
                <img src="../../Vista/Imagenes/img-nosotros/equi3.jpg" alt="Promoción 3">
               
              </div>
              <div class="promocion">
                <img src="../../Vista/Imagenes/img-nosotros/equi4.jpg" alt="Promoción 4">
                
               
              </div>
              <div class="promocion">
                <img src="../../Vista/Imagenes/img-nosotros/equi5.jpg" alt="Promoción 5">
                
              </div>
              <div class="promocion">
                <img src="../../Vista/Imagenes/img-nosotros/equi6.jpg" alt="Promoción 6">
                
              </div>
              <div class="promocion">
                <img src="../../Vista/Imagenes/img-nosotros/equi7.jpg" alt="Promoción 7">
                
            
                
              </div>
              <div class="promocion">
                <img src="../../Vista/Imagenes/img-nosotros/equi8.jpg" alt="Promoción 8">
                
              </div>
              <div class="promocion">
                <img src="../../Vista/Imagenes/img-nosotros/equi9.jpg" alt="Promoción 9">
               
              </div>
              <div class="promocion">
                <img src="../../Vista/Imagenes/img-nosotros/equi10.jpg" alt="Promoción 10">
                
               
              </div>
              <div class="promocion">
                <img src="../../Vista/Imagenes/img-nosotros/equi11.jpg" alt="Promoción 11">
                
              </div>
              <div class="promocion">
                <img src="../../Vista/Imagenes/img-nosotros/equi12.jpg" alt="Promoción 12">
                
              </div>
            
            <div class="promocion">
              <img src="../../Vista/Imagenes/img-nosotros/equi13.jpg" alt="Promoción 13">
              
             
            </div>
            <div class="promocion">
              <img src="../../Vista/Imagenes/img-nosotros/equi14.jpg" alt="Promoción 14">
              
            </div>
            <div class="promocion">
              <img src="../../Vista/Imagenes/img-nosotros/equi15.jpg" alt="Promoción 15">
            
            </div>
          </section>


        <div class="contactanos">
            <div class="titulo">
                <h2>Contactanos</h2>
            </div>
            <div class="box">

                <div class="contacto formulario">
                    <h2><b>Comunicanos</b></h2>
                    <form>
                        <div class="formBox">
                            <div class="row50">
                                <div class="inputBox">
                                    <span>Nombres:</span>
                                    <input type="text" placeholder="Nombres" />
                                </div>
                                <div class="inputBox">
                                    <span>Apellidos:</span>
                                    <input type="text" placeholder="Apellidos" />
                                </div>
                            </div>

                            <div class="row50">
                                <div class="inputBox">
                                    <span>Correo electrónico:</span>
                                    <input type="text" placeholder="Correo electrónico" />
                                </div>
                                <div class="inputBox">
                                    <span>Celular:</span>
                                    <input type="text" placeholder="Celular" />
                                </div>
                            </div>

                            <div class="row100">
                                <div class="inputBox">
                                    <span>Mensaje:</span>
                                    <textarea placeholder="Mensaje..."></textarea>
                                </div>
                            </div>

                            <div class="row100">
                                <div class="inputBox">
                                    <input type="submit" value="Enviar" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div id="success-modal" class="modal">
                    <div class="modal-content">
                      <img src="../../Vista/Imagenes/img-nosotros/reloj.jpg" alt="" class="modal-image" />
                      <p>¡Pronto estaremos dando respuesta!</p>
                      <button id="close-modal">Cerrar</button>
                    </div>
                  </div>

                <div class="contacto informacion">
                    <h3>Informacion de contacto</h3>
                    <div class="infoBox">
                        <div>
                            <span><ion-icon name="location"></ion-icon></span>
                            <p>Calle Lima135, Ica <br />Perú</p>
                        </div>
                        <div>
                            <span><ion-icon name="mail"></ion-icon></span>
                            <a href="loraperu_ica@yahoo.com">loraperu_ica@yahoo.com</a>
                        </div>
                        <div>
                            <span><ion-icon name="call"></ion-icon></span>
                            <a href="tel:+51998342524">+51 998 342 524</a>
                        </div>
                        <ul class="sociales">
                            <li>
                                <a href="https://www.facebook.com/share/ctLabiRs8VnH2tCH/?mibextid=qi20mg"><ion-icon
                                        name="logo-facebook"></ion-icon></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/loracafe.ica?igsh=bGkwN3locXhpMWZw"><ion-icon
                                        name="logo-instagram"></ion-icon></a>
                            </li>
                            <li>
                                <a
                                    href="https://api.whatsapp.com/send?phone=51998342524&text=Buen%20d%C3%ADa%20%F0%9F%98%8A%0A%C2%BFPodr%C3%ADa%20enviarme%20la%20carta%20de%20productos%20disponibles%20para%20realizar%20un%20pedido%2C%20por%20favor%3F%20%E2%98%95"><ion-icon
                                        name="logo-whatsapp"></ion-icon></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="contacto mapa">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3547.709179536183!2d-75.7311644253136!3d-14.063691186361464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9110e2bdaa65294b%3A0xe0b331d1893a6111!2sLora%20caf%C3%A9!5e1!3m2!1ses!2spe!4v1728783360955!5m2!1ses!2spe"
                        style="border: 0" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

    <footer style="background-color: #5c5858; color: white; text-align: center; padding: 10px 0;">
      <p>&copy; 2024 Lora Café. Todos los derechos reservados.</p>
      <p>Síguenos en redes sociales: </p>
      <a href="https://www.facebook.com/share/ctLabiRs8VnH2tCH/?mibextid=qi20mg" >
      <ion-icon name="logo-facebook" style= "color: rgb(255, 255, 255); font-size: 24px; margin-right: 15px;"></ion-icon>
      </a>
      <a href="https://www.instagram.com/loracafe.ica?igsh=bGkwN3locXhpMWZw">
      <ion-icon name="logo-instagram" style="color: rgb(255, 255, 255);font-size: 24px; margin-right: 15px;"></ion-icon>
      </a>
      <a href="https://l.instagram.com/?u=https%3A%2F%2Fwa.link%2Foomk5g&e=AT10FzF9cbchi_VQ_RF7ArFOdT0GMtS-p4ovBUU8RL1OLmGIzX-8jLJnzfEH_z3D9GC9MBHTIEbFcJWP8pqWQrphw4wdhbWM_XxHnw">
          <ion-icon name="logo-whatsapp" style="color: rgb(255, 255, 255);font-size: 24px; margin-right: 15px;"></ion-icon>
      </a>
              
  </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>
</div>
<script src="../../Controlador/JavaScript/sobrenosotros.js"></script>
<script src="../../Controlador/JavaScript/Navbar.js"></script>
</body>

</html>