<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio Lora Cafe</title>
    <link rel="stylesheet" type="text/css" href="../Vista/Estilos/EstiloInicio.css" />
    <link rel="stylesheet" href="../Vista/Estilos/EstiloNavbar.css" />
    
    <script src="https://kit.fontawesome.com/eb344c5846.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Inicio</title>
</head>

<body>

    <body>


        <nav>
            
            <input type="checkbox" id="check">
         
            <label for="check" class="checkbtn">
              <i class="fas fa-bars"></i>
            </label>
          
            <a href="inicio.html" class="enlace">
                <img src="../Vista/Imagenes/img-inicio/LOGO.jpeg" alt="" class="logo">
            </a>
          
            
            <ul>
                <li><a href="inicio.html">Inicio</a></li>
                <li><a href="../Vista/Cliente/sobrenosotros.html">Sobre Nosotros</a></li>
                <li><a href="../Vista/Cliente/carta.html">Carta</a></li>
                <li><a href="../Vista/Cliente/login.html">Iniciar Sesión</a></li>
                <li><a href="../Vista/Cliente/carrito.html" id="cart"><img src="../Vista/Imagenes/img-carta/shopping-cart.png" alt=""><span id="cuenta-carrito">0</span></a></li>
            </ul>
          </nav>
          
          <header class="header">
            <div class="carousel">
                <button class="carousel-prev">←</button>
    <button class="carousel-next">→</button>
                <div class="carousel-slide">
                    <!-- Slider 1 -->
                    <div class="carousel-item">
                        <div class="text">
                            <h1>Bienvenido a Lora Café</h1>
                            <p>CAFETERÍA 100 % PERUANA, Ofrece bebidas frías y calientes, sanguches, pasteles dulces y salados, donas en un ambiente agradable con aire acondicionado y wifi. #eltiempobienpasado.</p>
                            
                        </div>
                        <div class="image-uno">
                            <img src="../Vista/Imagenes/img-inicio/fondocafechido.jpg" alt="Fondo 1">
                        </div>
                    </div>
                    <!-- Slider 2 -->
                    <div class="carousel-item">
                        <div class="text">
                            <h1>Disfruta de Nuestros Combos en Lora Café</h1>
                            <p>Descubre nuestros combos, creados para ofrecerte lo mejor en sabor y calidad. ¡No te los pierdas!</p>
                            <a href="#combos-section" class="btn-1">Ver Combos</a>
                        </div>
                        <div class="image-combos">
                            <img src="../Vista/Imagenes/img-inicio/comboini.jpeg" alt="Fondo 2">
                        </div>
                    </div>
                    <!-- Slider 3 -->
                    <div class="carousel-item">
                        <div class="text-servicios">
                            <h1>Conoce los servicios que tenemos en Lora Café</h1>
                            <p>Disfruta de nuestros servicios en nuestro local. ¡Te Esperamos!</p>
                            <a href="#servicios-section" class="btn-1">Ver servicios</a>
                        </div>
                        <div class="image-services">
                            <img src="../Vista/Imagenes/img-inicio/sserviciosfinal.jpg" alt="Fondo 3">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="text">
                            <h1>Conoce Nuestras Promociones!!!</h1>
                            <p>Ven y disfruta de estas promociones que hemos preparado para ti.</p>
                            <a href="#promos-section" class="btn-1">Ver Promociones</a>
                        </div>
                        <div class="image-promos">
                            <img src="../Vista/Imagenes/img-inicio/nuevofondo2.jpg" alt="Fondo 3">
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="coffee" id="combos-section">

            <div class="coffee-content container" id="myModal">
                <h2>NUESTROS COMBOS</h2>

                <p>En Lora Café hemos creado los combos perfectos para que disfrutes al máximo. Nuestros combos están
                    pensados para ofrecerte la mejor experiencia al mejor precio. ¡No te pierdas nuestras ofertas y ven
                    a probarlos hoy mismo!
                </p>

            </div>


            <div class="container-all">
                <input type="radio" id="1" name="image-slide" hidden />
                <input type="radio" id="2" name="image-slide" hidden />
                <input type="radio" id="3" name="image-slide" hidden />


                <div class="slide">
                    <div class="item-slide">
                        <img src="../Vista/Imagenes/img-inicio/Slider1.jpg" alt="Slider 1">
                    </div>
                    <div class="item-slide">
                        <img src="../Vista/Imagenes/img-inicio/Slider2.jpg" alt="Slider 2">
                    </div>
                    <div class="item-slide">
                        <img src="../Vista/Imagenes/img-inicio/Slider3.jpg" alt="Slider 3">
                    </div>
                </div>


                <div class="pagination" id="paginationControls">
                    <label class="pagination-item" for="1">
                        <img src="../Vista/Imagenes/img-inicio/Slider1.jpg" alt="Control Slider 1">
                    </label>
                    <label class="pagination-item" for="2">
                        <img src="../Vista/Imagenes/img-inicio/Slider2.jpg" alt="Control Slider 2">
                    </label>
                    <label class="pagination-item" for="3">
                        <img src="../Vista/Imagenes/img-inicio/Slider3.jpg" alt="Control Slider 3">
                    </label>
                </div>
            </div>


            <div class="coffee-content container">
               
            </div>
        </section>

        <main class="services" id="servicios-section">

            <div class="services-content container">
                <h2>Nuestros servicios</h2>

                <div class="services-group">

                    <div class="services-1">
                        <img src="../Vista/Imagenes/img-inicio/Wifi.png" alt="">
                        <h3>Wifi gratis</h3>
                    </div>
                    <div class="services-1">
                        <img src="../Vista/Imagenes/img-inicio/Espacio.png" alt="">
                        <h3>Espacios para estudio/trabajo</h3>
                    </div>
                    <div class="services-1">
                        <img src="../Vista/Imagenes/img-inicio/Billetera.png" alt="">
                        <h3>Sistemas de pago</h3>
                    </div>
                </div>
                <p>
                    En Lora Café, nos enfocamos en brindarte una experiencia única, personalizada y cómoda, pensada para
                    que disfrutes al máximo cada visita.
                </p>

            </div>
        </main>


        <section class="promociones" id="promos-section">
            <h2>Nuestras Promociones</h2>
            <div class="promociones-grid">
              <div class="promocion">
                <img src="../Vista/Imagenes/img-inicio/promo7.jpg" alt="Promoción 1">
                
                <h3>Promoción 1</h3>
                <p class="descripcion">Todos los LUNES, pide la promo de nuestro 2do FRERÁNDANO FRAPPÉ en tamaño pequeño a sólo S/3 soles🧋  <br> 🕣 Desde medio día a 5pm </p>
                <p class="precio">S/ 3.00 <span>S/ 6.00</span></p>
                <button><a href="../Vista/Cliente/carta.html">Comprar</button></a>
              </div>
              <div class="promocion">
                <img src="../Vista/Imagenes/img-inicio/Promo2.jpg" alt="Promoción 2">
          
                <h3>Promoción 2</h3>
                <p class="descripcion">Todos los JUEVES, pide la promo de nuestro 2do CHOCOLATE CALIENTE en tamaño pequeño a sólo S/3 soles🧋   <br> 🕣 Desde medio día a 5pm </p>
                <p class="precio">S/ 3.00 <span>S/ 6.00</span></p>
                <button><a href="../Vista/Cliente/carta.html">Comprar</button></a>
              </div>
              <div class="promocion">
                <img src="../Vista/Imagenes/img-inicio/Promo3.jpg" alt="Promoción 3">
                <h3>Promoción 3</h3>
                <p class="descripcion">Todos los LUNES, pide la promo de nuestro 2do FRESA FRAPPÉ en tamaño mediano a sólo S/3 soles🧋 🕣 Desde medio día a 5pm                </p>
                <p class="precio">S/ 3.00 <span>S/ 7.00</span></p>
                <button><a href="../Vista/Cliente/carta.html">Comprar</button></a>
              </div>
              <div class="promocion">
                <img src="../Vista/Imagenes/img-inicio/promo4.jpg" alt="Promoción 4">
                
                <h3>Promoción 4</h3>
                <p class="descripcion">Todos los JUEVES del mes, pide la promo:

                    Jugo de mango 20 oz. + Croissant de jamón y queso a solo S/20.00 soles 🤩
                    <br> 🕣 TODO EL DÍA
                </p>
                <p class="precio">S/ 20.00 <span>S/ 25.00</span></p>
                <button><a href="../Vista/Cliente/carta.html">Comprar</button></a>
              </div>
              <div class="promocion">
                <img src="../Vista/Imagenes/img-inicio/promo8.jpg" alt="Promoción 5">
                <h3>Promoción 5</h3>
                <p class="descripcion">Todos los LUNES del mes, pide la promo de nuestro 2do VAINILLA FRAPPÉ en tamaño mediano a sólo S/3 soles🧋
                  <br>  🕣 Desde medio día a 5pm</p>
                <p class="precio">S/ 3.00 <span>S/ 6.50</span></p>
                <button><a href="../Vista/Cliente/carta.html">Comprar</button></a>
              </div>
              <div class="promocion">
                <img src="../Vista/Imagenes/img-inicio/promo9.jpg" alt="Promoción 6">
                <h3>Promoción 6</h3>
                <p class="descripcion">Todos los LUNES del mes, pide la promo de nuestro 2do ALGARROBINA FRAPPÉ en tamaño mediano a sólo S/3 soles🧋
                    <br>  🕣 Desde medio día a 5pm</p>
                <p class="precio">S/ 3.00 <span>S/ 5.50</span></p>
                <button><a href="../Vista/Cliente/carta.html">Comprar</button></a>
              </div>
            </div>
          </section>

        


          <footer style="background-color: #5c5858; color: white; text-align: center; padding: 10px 0;">
            <p>&copy; 2024 Lora Café. Todos los derechos reservados.</p>
            <p>Síguenos en redes sociales: </p>
            <a href="https://www.facebook.com/share/ctLabiRs8VnH2tCH/?mibextid=qi20mg" >
            <ion-icon name="logo-facebook" style= "color: rgb(255, 255, 255); font-size: 24px; margin-right: 15px;"></ion-icon>
            </a>
            <a href="https://www.instagram.com/loracafe.ica?igsh=bGkwN3locXhpMWZw">
            <ion-icon name="logo-instagram" style="color: rgb(255, 255, 255);font-size: 24px; margin-right: 15px;"></ion-icon>
            </a>
            <a href="https://l.instagram.com/?u=https%3A%2F%2Fwa.link%2Foomk5g&e=AT10FzF9cbchi_VQ_RF7ArFOdT0GMtS-p4ovBUU8RL1OLmGIzX-8jLJnzfEH_z3D9GC9MBHTIEbFcJWP8pqWQrphw4wdhbWM_XxHnw">
                <ion-icon name="logo-whatsapp" style="color: rgb(255, 255, 255);font-size: 24px; margin-right: 15px;"></ion-icon>
            </a>
                    
        </footer>
        <script src="../Controlador/JavaScript/Inicio.js"></script>
        <script src="../Controlador/JavaScript/Navbar.js"></script>
    </body>

</html>